{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  //this means allow! 0
  //this means warning! 1
  //this means error! 2

  "rules": {
    "no-console": 0,
    "no-loops/no-loops": 2
   }
}